doctype html
html
	head
		title Luis Polanco
		block css
			link(rel='stylesheet', href='/css/bulma.css', type='text/css')
			link(rel='stylesheet', href='/css/base.css', type='text/css')
		block scripts
			script(src='/js/app.min.js')
	body
		block content
		block footer